= form_for @stat_type do |f|
  - if @stat_type.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stat_type.errors.count, "error")} prohibited this stat_type from being saved:"
      %ul
        - @stat_type.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
