= form_for @common_item do |f|
  - if @common_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@common_item.errors.count, "error")} prohibited this common_item from being saved:"
      %ul
        - @common_item.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :min
    = f.number_field :min
  .field
    = f.label :max
    = f.number_field :max
  .field
    = f.label :item_tier
    = f.text_field :item_tier
  .field
    = f.label :stat_type
    = f.text_field :stat_type
  .field
    = f.label :item_slot
    = f.text_field :item_slot
  .actions
    = f.submit 'Save'
