%h1 Listing player_item_stats

%table
  %thead
    %tr
      %th Stat type
      %th Stat value
      %th Player item
      %th
      %th
      %th

  %tbody
    - @player_item_stats.each do |player_item_stat|
      %tr
        %td= player_item_stat.stat_type
        %td= player_item_stat.stat_value
        %td= player_item_stat.player_item
        %td= link_to 'Show', player_item_stat
        %td= link_to 'Edit', edit_player_item_stat_path(player_item_stat)
        %td= link_to 'Destroy', player_item_stat, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Player item stat', new_player_item_stat_path
