%p#notice= notice

%p
  %b Magic item name:
  = @fixed_item_stat.magic_item_name
%p
  %b Min:
  = @fixed_item_stat.min
%p
  %b Max:
  = @fixed_item_stat.max
%p
  %b Stat type:
  = @fixed_item_stat.stat_type
%p
  %b Is unique:
  = @fixed_item_stat.is_unique
%p
  %b Required tier:
  = @fixed_item_stat.required_tier

= link_to 'Edit', edit_fixed_item_stat_path(@fixed_item_stat)
\|
= link_to 'Back', fixed_item_stats_path
